<launch>
<arg name="webhook" default="$(optenv SLACK_WEBHOOK)"/>
<arg name="users" default=""/>
<arg name="channels" default=""/>
<arg name="topics" default="/slackeros/to_slack /slackeros/warnings"/>
<arg name="url_prefix" default=""/>
<arg name="port" default="8080"/>

<node
	name="slackeros"
	pkg="slackeros"
	type="slackeros_node.py"
	output="screen">
	<param name="~webhook" value="$(arg webhook)" />
	<param name="~users" value="$(arg users)" />
	<param name="~channels" value="$(arg channels)" />
	<param name="~topics" value="$(arg topics)" />
	<param name="~url_prefix" value="$(arg url_prefix)" />
	<param name="~port" value="$(arg port)" />
</node>
</launch>